:root {
    --primary-color: #ed0e05;
    --secondary-color: #fe9236;
    --tertiary-color:#f7f5e7;
    --neutral-color: black;
    --space-lg: 5rem;
    --space-md: 2rem;
    --space-sm: 1rem;
    --space-x-sm: 0.5rem;
  }

  body {
    margin: 0;
    font-size: 1.1rem;
    font-family: var(--default-font);
    color: var(--neutral-color);
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-family: var(--header-font);
  }
 
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

