:root {
    --primary-color: white;
    --secondary-color: #f7f5e7;
    --neutral-color: black;
    --space-lg: 5rem;
    --space-md: 2rem;
    --space-sm: 1rem;
    --default-font: "Source Sans Pro", Helvetica, sans-serif;
  }

  body {
    color: var(--neutral-color);
    margin: 0;
    font-family: var(--default-font);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Georgia, serif;
    line-height: 1.3;
  }
 
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }